<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Adresses</title>
    <meta http-equiv="Content-Type" content="text/html ;harset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />


</head>
<body>

<div th:insert="navbar::my-navbar"></div>
<h1> Les differentes adresses </h1>
<ul th:each ="address:${allAddresses}">
    <li th:text ="${address.content}"></li>
    <li th:text ="${address.auteur}" ></li>
</ul>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
</body>
</html>